@use '../../styles/styles.scss' as *;

.hero {
  padding: 16px max(32px, calc((100vw - $body-width) / 2));
  min-height: 80vh;
  min-height: 80svh;
  text-align: center;
  display: grid;
  align-content: start;

  &__name {
    font-size: fluid-clamp($h4, 500px, $h3, 700px);
    font-weight: 500;
    background-image: linear-gradient(
      110deg,
      $yellow-200-accent,
      $pink-700-accent
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 10svh 0 16px 0;
  }

  &__title {
    font-size: fluid-clamp($h2, 400px, $h1, 700px);
    font-weight: 600;
    margin: 48px 0;
  }

  &__description {
    font-size: fluid-clamp($h6, 500px, $h5, 700px);
    color: rgb(209, 209, 209);
    margin: 0;
  }

  &__button {
    justify-self: center;
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    font-size: $h6;
    color: white;
    background: linear-gradient(45deg, $orange-900, $pink-700-accent);
    margin-top: 10svh;

    transition: all 0.1s ease-out;

    &:hover {
      transform: scale(1.01);
      font-size: 17px;
    }
  }
}
