@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-90deg);
  }
}

@keyframes rotation-reverse {
  0% {
    transform: rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes sticky-navbar {
  to {
    font-size: 14px;
    padding-block: 6px;
    color: rgba(255, 255, 255, 0.85);

    text-shadow:
      0 0 4px #343434,
      0 0 8px #343434,
      0 0 16px #343434,
      0 0 32px #000000;
  }
}
