@function fluid-clamp($min_value, $at_min_width, $max_value, $at_max_width) {
  $slope: ($max_value - $min_value) / ($at_max_width - $at_min_width);
  $intercept: $min_value - $slope * $at_min_width;
  $preferred_value: $slope * 100;
  @return clamp(
    $min_value,
    calc(#{$preferred_value}vw + #{$intercept}),
    $max_value
  );
}
