@use '../../styles/styles.scss' as *;

.navbar {
  margin: 32px max(32px, calc((100vw - $body-width) / 2));
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 16px fluid-clamp(16px, 500px, 32px, 1200px);

  &__logo {
    min-width: 40px;
    width: 50px;
    fill: white;
    // display: none;
  }

  &__links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: fluid-clamp(16px, 600px, 64px, 1200px);
    color: rgba(255, 255, 255, 0.67);
    font-size: fluid-clamp(12px, 500px, 16px, 600px);
  }

  & > :nth-child(3) {
    // display: none;
  }
}
