@use '../../styles/styles.scss' as *;

.stack {
  padding: 32px max(32px, calc((100vw - $body-width) / 2));
  height: 800px;

  &__title {
    font-size: $h3;
  }

  &__grid {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    // gap: 60px;

    $icon-size: 160px;
    display: grid;
    @include auto-fit-grid($icon-size);
    gap: 48px;
    justify-items: center;

    &-icon {
      height: $icon-size;
      color: rgb(255, 255, 255);
    }
  }
}
